*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #dfdfdf;
}


/*--------------- NAVBAR ---------------*/

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #3a3a3a;
    font-size: 20px;

}

a:hover{
    transform: scale(1.2);
}

header {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    padding: 0 2rem;
    background-color: rgb(234, 233, 229);
    z-index: 1000; 
}


.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit; 
}

.navbar li{
    transition: transform 0.4s ease;
}

.navbar li:hover{
    transform: translateY(-5px);
}

.navbar .logo {
    max-width: 50px; 
    min-width: 150px;
}

.navbar .logo img{
    width: 140%;
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.navbar .logo :hover {
    transform: translateY(-3px);
}


.navbar .links{
    display: flex;
    gap: 3rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor:pointer
}

/* -----------------------------------------*/




/*--------------- DROPDOWN ---------------*/

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(156, 156, 156, 0.62);
    backdrop-filter: blur(305px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------------------------------------*/



/*--------------- NAVBAR QUERIES ---------------*/

@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (min-width: 993px) {
    .navbar .toggle_btn {
        display: none;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* ------------------------------------------------*/




/* -------------------- BANNER ------------------- */


.banner-section {
    background-image: url('/assets/logos/bannerlog.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.overlay-banner {
    background-color: rgba(255, 255, 255, 0.898); 
    color: #48555b;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
}

.banner-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner-section p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.button1 {
    background-color: #3f3f3f;
    color: #9ea7ab;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transform: transform 0.3s;
}

.button1:hover {
    transform: scale(1.05);
}

/* ------------------------------------------------------ */



/* ------------------- GALLERY -----------------------*/

.gallery-title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.gallery-img {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60vh;
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
}

.gallery-img:hover {
    transform: scale(1.05);
}

.gallery-img img {
    width: 100%;
    height: 100%;
    width: 100%;
    display: block;
}



/* ------------------------------------------------- */



/* ---------------- VISIT SECTION -------------------- */


.visit-title{
    text-align: center;
    font-size: 3rem;
    padding-top: 100px;
    margin-bottom: 100px;
    color: rgb(0, 0, 0);
}

.visit-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.visit-info {
    box-sizing: border-box;
    max-width: 290px; 
    text-align: center;
    padding: 20px;
}

h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

p {
    margin: 0;
    text-align: center;
}

.visit-img {
    margin-bottom: 20px;
}

.visit-img img {
    width: 40px;
    height: auto
}

/* ------------------------------------------------------- */



/* ------------------------- FOOTER ---------------------- */



.footer {
    display: flex;
    gap: 20px;
    color: #fff;
    padding: 20px;
    margin-top: 100px;
    background-color: rgb(234, 233, 229);
    justify-content: space-around
}

.section{
    display: flex;
}

.footer h3{
    color: white;
    text-shadow: 0 0 5px #8a7d66, 0 0 10px #8a7d66;
}

/* ------------------------------------------------------- */
